:root {
  /* font families */
  --font-family-outfit: Outfit, sans-serif;
  --font-family-public-sans: "Public Sans", sans-serif;
  --font-family-source-serif: "Source Serif 4", serif;

  /* font weights */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}
