---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
---

<Layout>
  <Hero />
  <About />
  <section class="content-container">
    <h2>Technical Skills</h2>
    <ul>
      <li>JavaScript & Typescript</li>
      <li>React</li>
      <li>React Native</li>
      <li>Golang</li>
      <li>Node</li>
    </ul>
  </section>
</Layout>

<style>
  .hero {
    h1 {
      font-family: var(--font-family-outfit);
      font-size: var(--font-size-48);
      font-weight: var(--font-weight-bold);
      line-height: 120%;
      letter-spacing: var(--font-letter-spacing-0);
    }
  }

  p {
    color: var(--color-text-secondary, #d7dfe4);

    /* body/m */
    font-family: var(--font-family-public-sans);
    font-size: var(--font-size-24);
    font-style: normal;
    font-weight: var(--font-weight-regular);
    line-height: 140%;
    letter-spacing: var(--font-letter-spacing-03);
  }
</style>
