---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import TechnicalSkills from "../components/TechnicalSkills.astro";
---

<Layout>
  <div class="main-content">
    <Hero />
    <About />
  </div>
</Layout>

<style>
  .main-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xh);
  }

  p {
    color: var(--color-text-secondary, #d7dfe4);

    /* body/m */
    font-family: var(--font-family-public-sans);
    font-size: var(--font-size-24);
    font-style: normal;
    font-weight: var(--font-weight-regular);
    line-height: 140%;
    letter-spacing: var(--font-letter-spacing-03);
  }

  @media (min-width: 768px) {
    .main-content {
      gap: 0;
    }
  }
</style>
