---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="content-container hero">
    <h1>I'm Gabriel Hernandez</h1>
    <p>Experienced Software Developer</p>
    <p>Based in London</p>
  </section>
  <section class="content-container">
    <!-- <img
      src="/img/me.jpg"
      alt="Picture of Gabriel Hernandez wearing a nice green shirt and smiling friendly"
    /> -->
    <h2>About Me</h2>
    <p>
      I am a software developer with an interest in creating interesting
      applications. With a specialty in frontend development and a love for
      technology, I strive to build joyful applications.
    </p>
    <ul>
      <li>
        <a href="https://www.linkedin.com/in/gabriel-hernandez-gh">Linkedin</a>
      </li>
      <li>
        <a href="https://www.github.com/ghernandez345">Github</a>
      </li>
    </ul>
  </section>
  <section class="content-container">
    <h2>Technical Skills</h2>
    <ul>
      <li>JavaScript & Typescript</li>
      <li>React</li>
      <li>React Native</li>
      <li>Golang</li>
      <li>Node</li>
    </ul>
  </section>
  <footer>
    <a href="mailto:ghernandez345@gmail.com">Contact Me</a>
    <p>© 2025 Gabriel Hernandez</p>
  </footer>
</Layout>

<style>
  .content-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }
  .hero {
    h1 {
      font-family: var(--font-family-outfit);
      font-size: var(--font-size-48);
      font-weight: var(--font-weight-bold);
      line-height: 120%;
      letter-spacing: var(--font-letter-spacing-0);
    }
  }

  p {
    color: var(--text-secondary, #d7dfe4);

    /* body/m */
    font-family: var(--font-family-public-sans);
    font-size: var(--font-size-24);
    font-style: normal;
    font-weight: var(--font-weight-regular);
    line-height: 140%;
    letter-spacing: var(--font-letter-spacing-03);
  }
</style>
