---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
---

<Layout>
  <div class="main-content">
    <Hero />
    <About />
    <section class="content-container">
      <h2>Technical Skills</h2>
      <ul>
        <li>JavaScript & Typescript</li>
        <li>React</li>
        <li>React Native</li>
        <li>Golang</li>
        <li>Node</li>
      </ul>
    </section>
  </div>
</Layout>

<style>
  .main-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xh);
  }
  p {
    color: var(--color-text-secondary, #d7dfe4);

    /* body/m */
    font-family: var(--font-family-public-sans);
    font-size: var(--font-size-24);
    font-style: normal;
    font-weight: var(--font-weight-regular);
    line-height: 140%;
    letter-spacing: var(--font-letter-spacing-03);
  }
</style>
