---

---

<footer>
  <a href="mailto:ghernandez345@gmail.com">Contact Me</a>
  <p>© 2025 Gabriel Hernandez</p>
</footer>

<style>
  footer {
    display: flex;
    padding: var(--spacing-xh) 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-xxl);
  }

  a {
    display: flex;
    padding: var(--spacing-s, 12px) var(--spacing-xxl, 28px);
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: var(--border-radius-m);
    border: 1.5px solid var(--color-border-primary);

    color: var(--color-text-primary);

    /* body/m */
    font-family: var(--font-family-public-sans);
    font-size: var(--font-size-24);
    font-style: normal;
    font-weight: var(--font-weight-regular);
    line-height: 140%; /* 33.6px */
    letter-spacing: var(--font-letter-spacing-03);
  }

  p {
    color: var(--color-text-secondary);

    /* body/s */
    font-family: var(--font-family-public-sans);
    font-size: var(--font-size-20);
    font-style: normal;
    font-weight: var(--font-weight-regular);
    line-height: 120%; /* 24px */
    letter-spacing: var(--font-letter-spacing-03);
  }
</style>
