---
import Favicon from "../assets/favicon.ico";
---

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href={Favicon} />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="
    generator" content={Astro.generator} />
  <title>Gabriel Hernandez - Experienced Software Developer</title>
  <meta
    name="description"
    content="Gabriel Hernandez is an experienced software developer with a passion for building web applications."
  />

  <!-- Open Graph tags -->
  <meta
    property="og:title"
    content="Gabriel Hernandez - Experienced Software Developer"
  />
  <meta
    property="og:description"
    content="Gabriel Hernandez is an experienced software developer with a passion for building web applications."
  />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://gabeh.dev" />
</head>
