---
import SectionContainer from "./SectionContainer.astro";
---

<SectionContainer>
  <h1>I'm Gabriel Hernandez</h1>
  <p>Experienced Software Developer</p>
  <p>Based in London</p>
</SectionContainer>

<style>
  h1 {
    font-family: var(--font-family-outfit);
    font-size: var(--font-size-48);
    font-weight: var(--font-weight-bold);
    line-height: 120%;
    letter-spacing: var(--font-letter-spacing-0);
  }

  p {
    color: var(--color-text-secondary, #d7dfe4);

    /* body/m */
    font-family: var(--font-family-public-sans);
    font-size: var(--font-size-24);
    font-style: normal;
    font-weight: var(--font-weight-regular);
    line-height: 140%;
    letter-spacing: var(--font-letter-spacing-03);
  }
</style>
