---
import SectionContainer from "./SectionContainer.astro";
---

<SectionContainer class="hero-container">
  <h1>I'm Gabriel Hernandez</h1>
  <p class="experienced-developer">Experienced Software Developer</p>
</SectionContainer>

<style>
  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-xl);
    padding: var(--spacing-xh) 0px;
  }

  h1 {
    color: var(--color-text-primary);
    font-family: var(--font-family-outfit);
    font-size: var(--font-size-48);
    font-weight: var(--font-weight-bold);
    line-height: 120%;
    letter-spacing: var(--font-letter-spacing-0);
  }

  p {
    color: var(--color-text-primary);
    line-height: 120%;
    letter-spacing: var(--font-letter-spacing-03);
  }

  .experienced-developer {
    font-family: var(--font-family-outfit);
    font-size: var(--font-size-32);
    font-weight: var(--font-weight-semi-bold);
  }

  @media (min-width: 480px) {
    h1 {
      font-size: var(--font-size-64);
    }
  }

  @media (min-width: 768px) {
    .hero-container {
      padding: var(--spacing-xh) 0px;
    }

    h1 {
      font-size: var(--font-size-100);
    }

    .experienced-developer {
      font-size: var(--font-size-64);
    }
  }

  @media (min-width: 1280px) {
    .hero-container {
      padding: var(--spacing-xxh) 0px;
    }
  }

  @media (min-width: 1440px) {
    h1 {
      font-size: var(--font-size-120);
    }
  }
</style>
