---

---

<div class="page-container">
  <slot />
</div>

<style>
  .page-container {
    max-width: var(--breakpoint-xs);
    margin: 0 auto;
    padding: 0 var(--spacing-h);

    @media screen and (min-width: 480px) {
      max-width: var(--breakpoint-s);
      padding: 0 var(--spacing-xh);
    }

    @media screen and (min-width: 768px) {
      max-width: var(--breakpoint-m);
      padding: 0 var(--spacing-xh);
    }

    @media screen and (min-width: 1024px) {
      max-width: var(--breakpoint-l);
      padding: 0 var(--spacing-xh);
    }

    @media screen and (min-width: 1280px) {
      max-width: var(--breakpoint-xl);
      padding: 0 var(--spacing-xh);
    }

    @media screen and (min-width: 1440px) {
      max-width: var(--breakpoint-xxl);
      padding: 0 var(--spacing-xh);
    }
  }
</style>
