---
import "../styles/global.css";

import Head from "../components/Head.astro";
import PageContainer from "../components/PageContainer.astro";
import Footer from "../components/Footer.astro";

const theme =
  typeof window !== "undefined"
    ? window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light"
    : "light";

console.log("Theme:", theme);
---

<script>
  const theme =
    typeof window !== "undefined"
      ? window.matchMedia("(prefers-color-scheme: dark)").matches
        ? "dark"
        : "light"
      : "light";

  console.log("Theme:", theme);
  document.documentElement.setAttribute("data-theme", theme);
</script>

<html lang="en">
  <Head />
  <body>
    <PageContainer>
      <header>
        <nav>
          <a href="/">Gabe-H</a>
        </nav>
      </header>
      <slot />
      <Footer />
    </PageContainer>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  body {
    background-color: var(--color-background-primary);
  }

  header {
    padding: var(--spacing-xl) 0;
  }

  nav {
    a {
      color: var(--color-text-primary);
      font-family: var(--font-family-source-serif-4);
      font-size: 42px;
      font-style: normal;
      line-height: 100%;
      letter-spacing: -1.68px;
    }
  }
</style>
