---
import "../styles/global.css";

import Head from "../components/Head.astro";
---

<!doctype html>
<html lang="en">
  <Head />
  <body>
    <nav>
      <a href="/">MySite</a>
    </nav>
    <section>
      <header>
        <h1>I'm Gabriel Hernandez</h1>
        <p>Experienced Software Developer</p>
        <p>Based in London</p>
      </header>
    </section>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  nav {
    a {
      color: var(--text-secondary, #d7dfe4);
      text-edge: cap;
      font-family: var(--font-family-source-serif-4);
      font-size: 42px;
      font-style: normal;
      font-weight: 600;
      line-height: 100%; /* 42px */
      letter-spacing: -1.68px;
    }
  }

  h1 {
    font-family: var(--font-family-outfit);
    font-size: var(--font-size-120);
    font-style: normal;
    font-weight: var(--font-weight-bold);
    line-height: 120%; /* 144px */
    letter-spacing: var(--font-letter-spacing-0);
  }

  p {
    color: var(--text-secondary, #d7dfe4);

    /* body/m */
    font-family: var(--font-family-public-sans);
    font-size: var(--font-size-24);
    font-style: normal;
    font-weight: var(--font-weight-regular);
    line-height: 140%;
    letter-spacing: var(--font-letter-spacing-03);
  }
</style>
